@page
@model ImageModel
@{
    ViewData["Title"] = "Image";
}
<h1>@ViewData["Title"]</h1>

<img src="~/img/storage/ansgar-scheffold-mtfTz0FnwBw-unsplash.jpg"  />  

<p>Use this page to detail your site's privacy policy.</p>
